.idea
.vscode
.wercker
smoke
vendor
*.coverprofile

# UI - compiled output
/ui/dist
/ui/tmp

# UI - dependencies
/ui/node_modules
/ui/bower_components

# UI - misc
/ui/.sass-cache
/ui/connect.lock
/ui/coverage/*
/ui/libpeerconnection.log
/ui/npm-debug.log
/ui/testem.log
/ui/typings

# UI - e2e
/ui/e2e/*.js
/ui/e2e/*.map
